/*CSS'en er bare at jeg fjernet unødvendig kode fra reacts standard CSS, og la til litt CSS for section, 
for at filmene skal vises i et grid. */

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}


section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}